*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-nav-list{
    width: 99%;
    height: 70px;
    line-height: 70px;
    
    display: flex;
    justify-content: right;
    background-color: gray;
    margin-top: 10px;
    margin-left: 5px ;
    
    
    
}
.nav-list-1{
    list-style: none;
}
.nav-list-1 a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-family: 'Times New Roman';
    flex-wrap: wrap;

}
.main-section{
    background-color: green;
    width: 70%;
    height: 220px;
    position: relative;
    top: 140px;
    margin: auto;
    font-size: 30px;
    outline-style:solid;
    outline-width: 8px;
    
    outline-color: blue;
    line-height: 220px;
}

p{
    text-align: center;

}
@media screen and (max-width: 900px) {
    .main-section p{
        font-size: 16px;
    }
    .main-nav-list{
        justify-content: center;
    }

    
}